<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    
       <title>Shop</title>

</head>
<body>
    <ul class="menu"> Меню
        <li> <a href="index.html"> Главная </ahref>
        </li>
        <li><a href="%D0%9A%D0%B0%D1%82%D0%B0%D0%BB%D0%BE%D0%B3.html">Каталог</a></li>
    </ul>
    <hr />
    <a href="potolochnaya-lyustra-vele-luce-intenso-vl1413l06-1.jpeg" target="_blank"> <img src="potolochnaya-lyustra-vele-luce-intenso-vl1413l06-1.jpeg" width="600" height="700">
     
    </a>
    
        <h1 class="tovar2"> Потолочная люстра Vele Luce Intenso VL1413L06 </h1>
        <h2 class="tovar2"> Описание товара </h2>
    <p class="opis">Исключительная модель VL1923L06 от итальянской компании Vele Luce относится к коллекции Licia. Потолочная люстра Vele Luce Licia VL1923L06 с цилиндрическими плафонами осветит помещение площадью 13.3 кв. м. Производитель Vele Luce рекомендует использовать для устройства лампы накаливания с цоколем E14 и мощностью 40 W. Прибор произведен с использованием материалов: стекло и металл. Основным цветом товара является дымчатый и хромовый. Потолочная люстра VL1923L06 продается по цене 21550 руб.</p>
        
        <h3 class="tovar2">Технические Характеристики</h3> 
        <ul class="spisopis">
        <li> Артикул
        VL1923L06</li>
       <li>Бренд
        Vele Luce</li>

        <li>Страна бренда
        Италия</li>

        <li>Страна производства
        Китай</li>
        <li>Коллекция
        Licia</li>

       <li>Стиль
        Модерн</li>

        <li>Размеры
        Высота, мм
        420</li>
       <li> Диаметр, мм
        560</li>
           
        </ul>
            <style>
.footer 
    {

left: 0;
bottom: 0;
width: 100%;
background-color: white;
color: black;
text-align: center;
    }
</style>

<div class="footer">
<hr>
<p>&copy; Все права защищены</p>
</div>

                    
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>